<div id="postagem">
  <label class="cad">ATENÇÃO</label><br><br>
  <div class="postagem">
    <p class="cad">Já existe uma conta de e-mail no nosso sistema. Por favor cadastre um e-mail diferente.</p><br>
    <hr class="linha">
    <a href="/usuarios/registro"></a><input class="cadast_login" value="Voltar ao Cadastro"></a>
  </div><br>
</div><br>