<h1 class="titulo">FALE COM O PROFESSOR</h1>

<p class="paragrafo">Se esta procurando um curso de inglês para o dia a dia com um valor bem acessível, então esse é o seu curso.</p><br />

<hr>
<a class="link" id="link" href="#importancia_Ingles"> Abrindo Portas </a>|
<a class="link" id="link" href="#abrindo_Portas"> Importância do Inglês </a>|
<a class="link" id="link" href="#aprimorar_Idioma"> Aprimorar o Idioma </a>|
<hr>

<a class="link" id="abrindo_Portas"></a>

<h2 class="subtitulo">Abrindo Portas</h2>

<br>

<p class="paragrafo">
  Pesquisas indicam que salários podem ser 61% mais altos pela fluência do idioma. Entenda aqui a importância do inglês
  no mercado de trabalho e como aperfeiçoá-lo.
</p>